{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <article class="post">
            {{ $.Scratch.Set "h1" true }}
            {{ .Render "header" }}
            <div id="content">
                      <div class="textwidget"> 
      <div class = "awardbox"> 
        
      <div><a href="https://blog.feedspot.com/healthcare_technology_blogs/" onclick="javascript:window.open('https://blog.feedspot.com/healthcare_technology_blogs/'); return false;"><img src="/img/healthcare_blog.png" width="125" height="125" alt="Healthcare Technology Blogs"></a></div>

      <div><a href="https://homeremediesforlife.com/top-health-blogs-your-body-wants-you-to-follow" onclick="javascript:window.open('https://homeremediesforlife.com/top-health-blogs-your-body-wants-you-to-follow'); return false;"><img src="/img/Top-health-blogs-badge_health.png" alt="Top-health-blogs-badge"></a></div>

      <div><a href="http://www.hitsphere.com" onclick="javascript:window.open('http://www.hitsphere.com/'); return false;"><img src="/img/HITSphere-Healthcare-IT-Supersite-1.png" width="125" height="125" alt="HITSphere-Healthcare-IT-Supersite"></a></div>

      <div><a href="http://www.healthcareitleaders.com/blog/healthcare-it-leaders-announces-the-best-healthcare-it-blogs/" onclick="javascript:window.open('http://www.healthcareitleaders.com/blog/healthcare-it-leaders-announces-the-best-healthcare-it-blogs/'); return false;"><img style="width:150px;" alt="Best-HIT-BLOGS-OF-2013-Healthcare-IT-Leaders" src="/img/Best-HIT-BLOGS-OF-2013-Healthcare-IT-Leaders.png" class="size-full wp-image-411"></a></div>

      <div><a href="http://fcw.com/articles/2009/03/23/federal-100-shah-netspective.aspx" onclick="javascript:window.open('http://fcw.com/articles/2009/03/23/federal-100-shah-netspective.aspx'); return false;"><img src="/img/The-Federal-100-Award-Winner-1.png" border="0" alt="The-Federal-100-Award-Winner-1"></a></div>

      <div style="clear:both"></div>

      <div><a href="http://healthcare-it.alltop.com/" onclick="javascript:window.open('http://healthcare-it.alltop.com/'); return false;"><img src="/img/Best-of-the-best-Alltop-1.png" width="125" height="125" alt="Featured in Alltop"></a></div>
       

       <div><a href="http://www.emrandhipaa.com/emr-and-hipaa/2014/07/09/unofficial-2014-hit100-rankings/" onclick="javascript:window.open('http://www.emrandhipaa.com/emr-and-hipaa/2014/07/09/unofficial-2014-hit100-rankings/'); return false;"><img style="width:150px;" src="/img/hit100.png" class="size-full wp-image-411" alt="hit100"></a></div>

       <div><a href="http://www.emrandhipaa.com/emr-and-hipaa/2015/07/31/the-2015-hit99-results-are-in/" onclick="javascript:window.open('http://www.emrandhipaa.com/emr-and-hipaa/2015/07/31/the-2015-hit99-results-are-in/'); return false;"><img style="width:150px;" src="/img/hit99.png" class="size-full wp-image-411" alt="hit99"></a></div>

       <div>
 <a href="http://www.healthitoutcomes.com/doc/health-it-change-agents-0003?utm_source=twitter&amp;utm_medium=social&amp;utm_content=Oktopost-twitter-profile&amp;utm_campaign=Oktopost-%23HealthITChangeAgents" onclick="javascript:window.open('http://www.healthitoutcomes.com/doc/health-it-change-agents-0003?utm_source=twitter&amp;utm_medium=social&amp;utm_content=Oktopost-twitter-profile&amp;utm_campaign=Oktopost-%23HealthITChangeAgents'); return false;"><img src="/img/CQ0A0USUAAEXh27-g_132x76.jpg" alt="health-it-change-agents-0003"></a>
</div>

<div><a href="http://www.cdwcommunit.com/perspectives/top-50-blogs/top-50-health-it-blogs-2015/" onclick="javascript:window.open('http://www.cdwcommunit.com/perspectives/top-50-blogs/top-50-health-it-blogs-2015/'); return false;"><img src="/img/Top-50-banner_132x110.png" alt="top-50-health-it-blogs-2015"></a>
</div>
<div style="clear:both"></div>

<div><a href="http://www.cdwcommunit.com/perspectives/top-50-blogs/top-50-health-blogs-2016/" onclick="javascript:window.open('http://www.cdwcommunit.com/perspectives/top-50-blogs/top-50-health-blogs-2016/'); return false;"><img src="/img/awards-2016_132x110.png" alt="top-50-health-blogs-2016"></a></div>


<div><a href="http://blog.feedspot.com/healthy_living_blogs/" onclick="javascript:window.open('http://blog.feedspot.com/healthy_living_blogs/'); return false;"><img src="/img/Top-100-Health-blogs_132x110.png" alt="top-100-health-blogs"></a></div>
   

   <div><a href="http://www.publichealth.com.ng/top-100-health-blogs/" onclick="javascript:window.open('http://www.publichealth.com.ng/top-100-health-blogs/'); return false;"><img src="/img/top-100-health-blogs-150x1501.png" alt="top-100-health-blogs"></a></div>  
    </div>
    </div>
            </div>
        </article>
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
